[Unit]
Description=Run OZTP Linux Desktop Agent every 15 minutes
Requires=oztp-agent-desktop.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=oztp-agent-desktop.service

[Install]
WantedBy=timers.target
